<div>
    <button mat-icon-button [matMenuTriggerFor]="account_menu" >
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #account_menu="matMenu">
        <button mat-menu-item *ngIf="userService.isUserPresent()" (click)="login()">Log in</button>
        <button mat-menu-item *ngIf="!userService.isUserPresent()" (click)="goToProfile()">Profile</button>
        <button mat-menu-item *ngIf="!userService.isUserPresent()" (click)="goToChangePassword()">Change password</button>
        <button mat-menu-item *ngIf="!userService.isUserPresent()" (click)="logout()">Log out</button>
    </mat-menu>
</div>

