<div class="home-container">
    <div class="group-container">
        <mat-card class="card" (click)="goToCottages()">
            <mat-card-title>Cottages</mat-card-title>
            <mat-card-content class="card-content">
                <div>
                    <h3>Browse trough available cottages and make reservations</h3>
                </div>
                <img src="assets/images/cottage.avif" class="image">
            </mat-card-content>
        </mat-card>
        <mat-card class="smaller-card">
            <mat-card-title>Cottage reservation history</mat-card-title>
            <mat-card-content>
                <h3>See your reservation history for cottages</h3>
                <mat-icon>arrow_forward_ios</mat-icon>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="group-container">
        <mat-card class="card" (click)="goToBoats()">
            <mat-card-title>Boats</mat-card-title>
            <mat-card-content class="card-content">
                <div>
                    <h3>Browse trough available boats and make reservations</h3>
                </div>
                <img src="assets/images/boat.jpg" class="image">
            </mat-card-content>
        </mat-card>
        <mat-card class="smaller-card">
            <mat-card-title>Boat reservation history</mat-card-title>
            <mat-card-content>
                <h3>See your reservation history for boats</h3>
                <mat-icon>arrow_forward_ios</mat-icon>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="group-container">
        <mat-card class="card" >
            <mat-card-title>Fishing instructors</mat-card-title>
            <mat-card-content class="card-content">
                <div>
                    <h3>Browse trough available instructors and adventures and lessons they offer.</h3>
                </div>
                <img src="assets/images/fishing.jpg" class="image">
            </mat-card-content>
        </mat-card>
        <mat-card class="smaller-card">
            <mat-card-title>Reservation history</mat-card-title>
            <mat-card-content>
                <h3>See your reservation history for adventures and lectures</h3>
                <mat-icon>arrow_forward_ios</mat-icon>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="special-offer" (click)="goToSpecialOffers()">
        <h2 style="text-align: center;">Special offers</h2>
        <mat-icon>arrow_forward_ios</mat-icon>
    </div>

</div>