<div class="container" style="display:flex; flex-direction: row;"> 
    <mat-card class="card">
        <mat-card-title>Register as Client</mat-card-title> 
        <mat-card-content>
            <button (click)="registerClient()" mat-button>Register</button>
        </mat-card-content>
    </mat-card> 
    <mat-card class="card">
        <mat-card-title>Register as Cottage owner</mat-card-title> 
        <mat-card-content>
            <button mat-button>Register</button>
        </mat-card-content>
    </mat-card> 
    <mat-card class="card">
        <mat-card-title>Register as Boat owner</mat-card-title> 
        <mat-card-content>
            <button mat-button>Register</button>
        </mat-card-content>
    </mat-card> 
    <mat-card class="card">
        <mat-card-title>Register as Fishing instructor</mat-card-title> 
        <mat-card-content>
            <button mat-button>Register</button>
        </mat-card-content>
    </mat-card> 
    <mat-card class="card">
        <mat-card-title>Register as System Administrator</mat-card-title> 
        <mat-card-content>
            <button mat-button>Register</button>
        </mat-card-content>
    </mat-card> 

</div>