<div class="container"> 
    <mat-card class="card">
        <mat-card-title>Register as Client</mat-card-title> 
        <mat-card-content>
            <button (click)="registerClient()" mat-button>Register</button>
        </mat-card-content>
    </mat-card> 
    <mat-card class="card">
        <mat-card-title>Register as Cottage owner, Boat owner or Instructor</mat-card-title> 
        <mat-card-content>
            <button (click)="registerUser()" mat-button>Register</button>
        </mat-card-content>
    </mat-card> 
</div>