.card{
    width: 100%;
}

.container{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.form-field{
    padding-top: 10px;
    width: 100%;
}

.title{
    margin: auto;
    width: 100%;
    align-self: center;
    padding-bottom: 15px;
}

.form-group{
    padding-top: 15px;
}

.button{
    margin-top: 25px;
    width: 100%;
}