<div class="container">
    <div class="search-card">
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-accordion>
            <mat-expansion-panel-header>
                <mat-panel-title>Search and filter options</mat-panel-title>
            </mat-expansion-panel-header>
        </mat-accordion>
    </div>

    <app-cottage-item class="cottage-items"></app-cottage-item>
    <app-cottage-item class="cottage-items"></app-cottage-item>
    
</div>