<div class="container">
    <div class="search-card">
        <h1>Cottages</h1>
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-accordion>
            <mat-expansion-panel-header>
                <mat-panel-title>Search and filter options</mat-panel-title>
            </mat-expansion-panel-header>
        </mat-accordion>
    </div>

    <app-cottage-item *ngFor="let item of cottages" [cottage]="item" class="cottage-items"></app-cottage-item>
    
</div>