<div>
    <div class="header">
        <h2>Register as cottage owner, boat owner or Instructor</h2>
    </div>
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field class="form-field" appearance="fill">
                <mat-label >First Name</mat-label>
                <input type="text" matInput formControlName="firstName">
                <mat-error *ngIf="firstName.hasError('required')">First name is required!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label >Last Name</mat-label>
                <input type="text" matInput formControlName="lastName">
                <mat-error *ngIf="lastName.hasError('required')">Last name is required!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label >Email</mat-label>
                <input type="email" matInput formControlName="email">
                <mat-error *ngIf="email.hasError('required') || email.hasError('email')">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label >Password</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error *ngIf="password.hasError('required') || password.hasError('pattern') || password.hasError('minLength')">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label >Repeated password</mat-label>
                <input type="password" matInput formControlName="repeatedPassword">
                <mat-error *ngIf="repeatedPassword.hasError('required') || repeatedPassword.hasError('mustMatch')">Passwords don't match!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Phone number</mat-label>
                <input type="text" matInput formControlName="phoneNumber">
                <mat-error *ngIf="phoneNumber.hasError('pattern') || phoneNumber.hasError('required')">Phone number is not valid!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label >Country</mat-label>
                <input type="text" matInput formControlName="country">
                <mat-error *ngIf="country.hasError('required')">Country name is required!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label >City</mat-label>
                <input type="text" matInput formControlName="city">
                <mat-error *ngIf="city.hasError('required')">City name is required!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label >Street</mat-label>
                <input type="text" matInput formControlName="street">
                <mat-error *ngIf="street.hasError('required')">Street name is required!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>User type</mat-label>
                <mat-select formControlName="userType">
                    <mat-option value="CottageOwner">Cottage owner</mat-option>
                    <mat-option value="BoatOwner">Boat owner</mat-option>
                    <mat-option value="Instructor">Instructor</mat-option>
                </mat-select>
                <mat-error *ngIf="userType.hasError('required')">You must select type of user!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label >Reason of registration</mat-label>
                <textarea matInput formControlName="explanation"></textarea>
                <mat-error *ngIf="explanation.hasError('required')">Reason of registration is required!</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" class="button">Register</button>
            
        </form>
    </div>
</div>
