.boat-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    justify-content: stretch;
    margin-bottom: 50px;
}

.boat-info{
    display: flex;
    margin: auto;
    flex-direction: column;
}

.reservation-info{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.address{
    display: flex;
}

.info-box{
    margin-top: 20px;
}

.error{
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.img-box{
    display: flex;
}

.img-show{
    width: 200px;
    height: 200px;
}

.form-field{
    padding-top: 10px;
    width: 100%;
}

