<div *ngIf="!failedToLoad" class="boat-container">
    <div class="boat-info">
        <h2>{{this.boat.name}}</h2>
        <div class="address">
            <mat-icon color="primary">place</mat-icon>
            <h3>{{getAddress()}}</h3>
        </div>
        <div>
            <h3>Images</h3>
            <div style="display: flex;">
                <img src="{{imgSrc}}" class="img-show">
                <button mat-button (click)="showImages()">Show more images</button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="info-box">
            <h3 style="font-weight: bold;">Description</h3>
            <p>{{this.boat.description}}</p>
        </div>
        <div class="info-box">
            <h4>Type of boat: {{this.boat.type}}</h4>
            <h4>Capacity: {{this.boat.capacity}}</h4>
        </div>
        <div class="info-box">
            <h3 style="font-weight: bold;">Engine</h3>
            <h4>Number of engines: {{this.boat.numberOfEngines}}</h4>
            <h4>Engine power: {{this.boat.enginePower}}</h4>
            <h4>Maximum speed: {{this.boat.maximumSpeed}}</h4>
        </div>
        <div class="info-box">
            <h4>Cancellation fee {{this.boat.cancellationFee*100}}%</h4>
        </div>
    </div>
    <div class="reservation-info">
        <mat-card>
            <mat-card-title>Make a reservation</mat-card-title>
            <mat-card-content>
                <mat-form-field class="form-field">
                    <input matInput [ngxMatDatetimePickerFilter]="dateTimeFilter" [ngxMatDatetimePicker]="pickerFrom" placeholder="From date & time" [formControl]="myDatePickerFrom">
                    <mat-datepicker-toggle matSuffix [for]="$any(pickerFrom)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerFrom></ngx-mat-datetime-picker>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <input matInput [ngxMatDatetimePickerFilter]="dateTimeFilter" [ngxMatDatetimePicker]="pickerTo" placeholder="To date & time" [formControl]="myDatePickerTo"
                    >
                    <mat-datepicker-toggle matSuffix [for]="$any(pickerTo)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerTo></ngx-mat-datetime-picker>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<h2 *ngIf="failedToLoad" class="error">Boat not found!</h2>
