.profile-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 50px 100px;
}

.pr-info{
    grid-row: auto / span 2;
}

.form-field{
    padding-top: 10px;
    width: 100%;
}

.button{
    margin-top: 25px;
    width: 100%;
}