.container{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.search-card{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: 50%;
    margin-bottom: 50px;
}

.boat-items{
    width: 50%;
    margin: auto;
    margin-top: 10px;
}