<div class="cottage-container">
    <div class="cottage-info">
        <h2>{{this.cottage.name}}</h2>
        <div class="address">
            <mat-icon color="primary">place</mat-icon>
            <h3>{{getAddress()}}</h3>
        </div>
        <div>
            <h3>Images</h3>
            <div style="display: flex;">
                <img src="{{imgSrc}}" class="img-show">
                <button mat-button (click)="showImages()">Show more images</button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="info-box">
            <h3 style="font-weight: bold;">Description</h3>
            <p>{{this.cottage.description}}</p>
        </div>
        <div class="info-box">
            <h3 style="font-weight: bold;">AdditionalServices</h3>
            <h4>{{this.cottage.additionalServices}}</h4>
        </div>
        <div class="info-box">
            <h3 style="font-weight: bold;">Rooms</h3>
            <h4>Number of rooms: {{this.cottage.numberOfRooms}}</h4>
            <h4>Number of beds per room:</h4>
            <ul>
                <li *ngFor="let item of this.cottage.cottageRooms">
                    {{item.room}} : {{item.numberOfBeds}}
                </li>
            </ul>

        </div>
    </div>
    <div class="reservation-info">
        <mat-card>
            <mat-card-title>Make a reservation</mat-card-title>
            <mat-card-content>
                <form [formGroup]="reservationForm"> 
                    <mat-form-field class="form-field">
                        <input matInput [ngxMatDatetimePickerFilter]="dateTimeFilterFrom" [ngxMatDatetimePicker]="pickerFrom" placeholder="From date & time" formControlName="myDatePickerFrom">
                        <mat-datepicker-toggle matSuffix [for]="$any(pickerFrom)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #pickerFrom></ngx-mat-datetime-picker>
                    </mat-form-field>
                    <mat-form-field class="form-field">
                        <input matInput [ngxMatDatetimePickerFilter]="dateTimeFilterTo" [ngxMatDatetimePicker]="pickerTo" placeholder="To date & time" formControlName="myDatePickerTo">
                        <mat-datepicker-toggle matSuffix [for]="$any(pickerTo)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #pickerTo></ngx-mat-datetime-picker>
                    </mat-form-field>
                    <h3 *ngIf="!validDates" style="color: red;">Dates you selected are invalid!</h3>
                    <div *ngIf="addService">
                        <h4>Select additional services</h4>
                        <mat-selection-list formControlName="selectedAdditionalServices">
                            <mat-list-option *ngFor="let item of additionalServices" [value]="item">{{item}}</mat-list-option>
                        </mat-selection-list>
                    </div>
                    <mat-form-field class="form-field" >
                        <mat-label>Number of people</mat-label>
                        <input type="text" matInput formControlName="numberOfPeople">
                        <mat-error *ngIf="reservationForm.get('numberOfPeople')?.hasError('pattern') || reservationForm.get('numberOfPeople')?.hasError('required')">Required!</mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="makeReservation()" style="width: 100%;">Confirm</button>
                </form>
            </mat-card-content>
        </mat-card>
        <h2 *ngIf="reservationCreated" style="color: green;">Reservation created!</h2>
    </div>
</div>
