<div class="cottage-container">
    <div class="cottage-info">
        <h2>{{this.cottage.name}}</h2>
        <div class="address">
            <mat-icon color="primary">place</mat-icon>
            <h3>{{getAddress()}}</h3>
        </div>
        <div>
            <h3>Images</h3>
        </div>
        <div class="info-box">
            <h3>Description</h3>
            <p>{{this.cottage.description}}</p>
        </div>
        <div class="info-box">
            <h3>AdditionalServices</h3>
            <h4>{{this.cottage.additionalServices}}</h4>
        </div>
    </div>
    <div class="reservation-info">
        <h2>Make a reservation</h2>
        
    </div>
</div>
