<div class="cottage-container">
    <div class="cottage-info">
        <h2>{{this.cottage.name}}</h2>
        <div class="address">
            <mat-icon color="primary">place</mat-icon>
            <h3>{{getAddress()}}</h3>
        </div>
        <div>
            <h3>Images</h3>
            <div>
                <img src="{{imgSrc}}" class="img-show">
                <button mat-button (click)="showImages()">Show more images</button>
            </div>
        </div>
        <div class="info-box">
            <h3>Description</h3>
            <p>{{this.cottage.description}}</p>
        </div>
        <div class="info-box">
            <h3>AdditionalServices</h3>
            <h4>{{this.cottage.additionalServices}}</h4>
        </div>
    </div>
    <div class="reservation-info">
        <mat-card>
            <mat-card-title>Make a reservation</mat-card-title>
            <mat-card-content>
                <mat-form-field class="form-field">
                    <input matInput [ngxMatDatetimePickerFilter]="dateTimeFilter" [ngxMatDatetimePicker]="pickerFrom" placeholder="From date & time" [formControl]="myDatePickerFrom">
                    <mat-datepicker-toggle matSuffix [for]="$any(pickerFrom)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerFrom></ngx-mat-datetime-picker>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <input matInput [ngxMatDatetimePicker]="pickerTo" placeholder="To date & time" [formControl]="myDatePickerTo"
                    [min]="myDatePickerFrom">
                    <mat-datepicker-toggle matSuffix [for]="$any(pickerTo)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerTo></ngx-mat-datetime-picker>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </div>
</div>
